<div id="headset">
  <header>
    <div id="header">
      <h1> Corgi Todo List </h1>
      <br>
      <br>
      <form id="login">
        <b>USER NAME</b>
        <input class="loginput" value="Corgi" onfocus="this.value=''"
               onblur="if(this.value==''){this.value='Corgi'}"type="text" name="myName">
        <b>PASSWORD</b>
        <input class="loginput" type="password" name="pass">
        <br>
        <br>

        <button class="loginbtn" type="button" onclick="alert('Log In Sucessful! ')">Log In</button>
        <button class="loginbtn" type="button">Forget Password</button>
        <br>
        <br>
      </form>
    </div>

  </header>

